@import "tailwindcss";

@layer utilities {
  .animate-fade-in-scale {
    animation: fadeInScale 0.8s ease-out forwards;
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
